Django
requests
# mysqlclient
beautifulsoup4
django-feed-reader
pwned-passwords-django
django-allauth
django-anymail
pytz

python-lsp-server
rope
pyflakes
pycodestyle
safety
bandit
django-debug-toolbar
PdbBBEditSupport
colorlog


wheel
gunicorn
setproctitle
PdbBBEditSupport
