{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row topmargin">
        <div id="feeds" class="col-sm-8 ftcontent">


            <h2>Add Feed</h2>
            <p>Enter the URL of the feed you wish to import.  If you don't know the feed URL, you can just enter the address of the site you want to subscribe to, Feed Thing will try and find a feed for you.</p>
            <form method="post" onsubmit="addFeed(0); return false;" name="addfeed">
                <input type="url" id="feed-0" name="feed" value="{{feed|escape}}" ><br><br>
        
        
                <h2>Add to Folder:</h2>
                <input type="radio" id="g0" name="group" value="0" checked="checked"> <label for="g0">None</label><br>
                {% for g in groups %}
                    <input type="radio" id="g{{g.id}}" name="group" value="{{g.id}}"> <label for="g{{g.id}}">{{g.name}}</label><br>
                {% endfor %}
        
        
                <br><input class="btn btn-sm btn-default" type="submit" value="Add Feed">
                {% csrf_token %}
            </form>

            <div id="addresult" style="display:none" class="topmargin"> 
                <h2>Feeds</h2>
                <ul id="addfeedlist">
                </ul>
            </div>

        </div>
        <div class="hidden-xs col-sm-4 ftcontent">
            <div id="opml">
                <h2>Batch Import</h2>
                <p>You can add a batch of feeds in one go by supplying an OPML file.</p>
                <p>Your current feed reader should be able to export your current subscriptions as OPML.</p>
                <form method="post" action="/importopml/" enctype="multipart/form-data">
                    <input type="file" name="opml">
                    <br>
                    <input type="submit" value="Upload Subscriptions" class="btn btn-sm btn-default">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>

<script>

function addFeed(fid)
{
	var theFeed = $("#feed-" + fid).val();
	if (theFeed == '')
	{
		return;
	}
	
	$("#addfeedlist").html("<li><img src='/static/images/loader.gif' alt='Loading' width='32' height='32'></li>");
	$("#addresult").fadeIn();
	
	var gid =$('input[name="group"]:checked').val();
	
	
	$.post("/addfeed/", { feed:theFeed,group: gid }, function(data){
	
		$("#addfeedlist").fadeOut(function(){
			$("#addfeedlist").html(data).fadeIn();
		});
	
	},'html');
	
}

</script>


{% endblock %}