<!doctype html>
<html>
	<head>
		<title>FeedThing</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">		

        <meta name="description" content="A simple RSS Feed Reader.">
        <meta name="keywords" content="rss feed reader news">
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/cd9a113456.js"></script>


		<link href="/static/css/feedthing.css" rel="stylesheet"	type="text/css">

		<link rel="shortcut icon" href="/static/images/feedthingsmall.png">
        <link rel="apple-touch-icon" href="/static/images/touch.png">


        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        
          {% if not debug %}
          <script>
            if (window.location.protocol != "https:") {
                window.location.protocol = "https";
            }
          </script>
          {% endif %}

            
        {% block head %}
        
        
        
        {% endblock %}
	</head>
	<body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <div class="container-fluid">
            
              <a href="{% url 'home' %}" class="navbar-link logo">
                  <img src="/static/images/FeedThing.svg" alt="logo" height="25">FeedThing
               </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <div class="collapse navbar-collapse navbar-right" id="navbarCollapse">
              <ul class="navbar-nav ms-auto me-2 mb-2 mb-md-0">

	            {% if user.is_authenticated %}
	                <li class="navitem"><a class="nav-link" href="{% url 'feeds' %}">Feeds</a></li>
	                <li class="navitem"><a class="nav-link" href="{% url 'addfeed' %}">Add Feed</a></li>
	                <li class="navitem"><a class="nav-link" href="/manage/">Manage Feeds</a></li>
	                <li class="navitem"><a class="nav-link" href="{% url 'savedposts' %}">Saved</a></li>
	                {% if user.is_superuser %}
	                    <li class="navitem"><a class="nav-link" href="/feedgarden/">Queue</a></li>
	                    <li class="navitem"><a class="nav-link" href="/admin/">Admin</a></li>
	                {% endif %}
	            {% else %}
    	            <li class="navitem"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
	            {% endif %}
	                <li class="navitem"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
	            {% if user.is_authenticated %}
	                <li class="navitem"><a class="nav-link" href="/accounts/logout/">Log out</a></li>
	            {% else %}
	                <li class="navitem"><a class="nav-link" href="{% url 'feeds' %}">Log In</a></li>
	            {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        {% if messages %}
            <div class="container">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    
                    {{message}}

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            {% endfor %}
            </div>
        {% endif %}

        {% block content %}

        {% endblock %}
        
        <script>

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken",
                                     $("input[name='csrfmiddlewaretoken']")[0].value);
            }
        }
    });




        </script>
	</body>
</html>