<!doctype html>
<html>
	<head>
		<title>FeedThing</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">		

        <meta name="description" content="A simple RSS Feed Reader.">
        <meta name="keywords" content="rss feed reader news">
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/cd9a113456.js"></script>


		<link href="/static/css/feedthing.css" rel="stylesheet"	type="text/css">
		<link rel="shortcut icon" href="/static/images/feedthingsmall.png">
        <link rel="apple-touch-icon" href="/static/images/touch.png">


        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        
          {% if not debug %}
          <script>
            if (window.location.protocol != "https:") {
                window.location.protocol = "https";
            }
          </script>
          {% endif %}

            
        {% block head %}
        
        
        
        {% endblock %}
	</head>
	<body>


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="logo">
                <a href="{% url 'home' %}" class="navbar-link logo">
                  <img src="/static/images/FeedThing.svg" alt="logo" height="25">FeedThing
               </a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
	                
	            {% if user.is_authenticated %}
	                <li><a href="{% url 'feeds' %}">Feeds</a></li>
	                <li><a href="{% url 'addfeed' %}">Add Feed</a></li>
	                <li><a href="/manage/">Manage Feeds</a></li>
	                <li><a href="{% url 'savedposts' %}">Saved</a></li>
	                {% if user.is_superuser %}
	                    <li><a href="/feedgarden/">Queue</a></li>
	                    <li><a href="/admin/">Admin</a></li>
	                {% endif %}
	            {% else %}
    	            <li><a href="{% url 'home' %}">Home</a></li>
	            {% endif %}
	                <li><a href="{% url 'help' %}">Help</a></li>
	            {% if user.is_authenticated %}
	                <li><a href="{% url 'settings' %}">Settings</a></li>
	            {% else %}
	                <li><a href="{% url 'feeds' %}">Log In</a></li>
	            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

        {% if messages %}
            <div class="container" style="padding-top:4px">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{message}}
                </div>

            {% endfor %}
            </div>
        {% endif %}

        {% block content %}

        {% endblock %}
        
        <script>

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken",
                                     $("input[name='csrfmiddlewaretoken']")[0].value);
            }
        }
    });




        </script>
	</body>
</html>