{% extends "base.html" %}

{% block head %}

    <script src="/static/js/history.js"></script>

{% endblock %}


{% block content %}
<div class="container fullpage">
    <div class="row fullpage">
		<div class="col-sm-4" id="feedlist">
		    <h2 class="ftheader">{% if all %}All{% else %}Unread{% endif %} Feeds</h2>
			<div id="feeds">
			
                <div class="feed-list-header">
                    {% if all %}
                        <a href="/feeds/" class="btn btn-default"><i class="fa fa-sun"></i></a> 
                    {% else %}
                        <a href="/allfeeds/" class="btn btn-default"><i class="fa fa-archive"></i></a> 
                    {% endif %}
                    <input type="search" id="searchfeeds" class="form-control" placeholder="Filter">
                </div>
				{% for s in sources %}
					<div id="s{{s.id}}" class="feedbutton{% if not s.source %} group{% endif %}"> 
						<a id="sa{{s.id}}" onclick="read({{s.id}}, 0)" href="#" class="feedbutton">{{s.name}}<span id="uc{{s.id}}" class="unreadcount">{% if s.is_river %}R{% else %}({{s.undread_count}}){% endif %}</span></a> 
					</div>
				{% endfor %}
			</div>
		</div>
            		
        <div class="col-sm-8" id="feedpane">
            <img src="/static/images/FeedThing.png" class="paneplant">
        </div>
    </div>
</div>	
        {% csrf_token %}

<script>

//console.log('yo!');

var last_read = null;
var last_page = null

function read(fid, page) {

    if (last_read == fid && last_page == page) {
        return;
    }
    $("#uc" + fid).html("(0)");

    {% if all %}
        if (last_read != null) {
            $("#s" + last_read).removeClass("read");    
        }
    {% else %}
        if (last_read != null) {
            $("#s" + last_read).fadeOut("fast");    
        }
    {% endif %}

    last_read = fid;
    last_page = page;
    
    $("#s" + last_read).addClass("read");  
    $("#feedlist").addClass("hidden-xs");
    $("#feedpane").html('<div id="feedcontent"> <img src="/static/images/FeedThing.png" class="paneplant"></div>');

    if (page == 0) {
        $.get("/read/" + fid + "/",function(data){
           $("#feedpane").html(data);
           History.pushState({feed:fid, page:page}, "FeedThing", "?feed=" + fid);
        });
    }
    else {
        $.get("/read/" + fid + "/?page=" + page,function(data){
           $("#feedpane").html(data);
           History.pushState({feed:fid, page:page}, "FeedThing", "?feed=" + fid + "&page=" + page);
        });
    }
    



    
    return false;
}

$("#searchfeeds").on('keyup', function(){
    filterFeeds();
});
$("#searchfeeds").on('search', function(){
    filterFeeds();
});

function filterFeeds() {

    var q = $("#searchfeeds").val();
    
    $(".feedbutton").each(function(){
        
        var title = $(this).text();
        
        if (q == '' ||   title.indexOf(q) >= 0) {
            $(this).show();
        }
        else {
            $(this).hide();
        }
    
    });
}


$(document).ready(function(){


	// Bind to StateChange Event
	History.Adapter.bind(window,'statechange',function(){ // Note: We are using statechange instead of popstate
		//console.log("statechange");


		var State = History.getState(); // Note: We are using History.getState() instead of event.state
		
		
		if (!State.data.hasOwnProperty("feed")) {
		    //console.log("unreading");
		    // this is a reset
		    unRead();
		} else {
		    read(State.data.feed, State.data.page);
		}	
		//debugger;
		
	});
	
	History.pushState(null,null,"#");

    {% if preload != "0" %}
        $("#feedlist").addClass("hidden-xs");
        read({{preload}}, {{page}});
    {% endif %}

});



function unRead() {
    //window.history.back();
    //if(event.state) {

        {% if not all %}
            $("#s" + last_read).fadeOut("fast");
        {% endif %}

    
        $("#feedcontent").fadeOut("fast",function(){
            $("#feedlist").removeClass("hidden-xs");
            $("#feedpane").html('<img src="/static/images/FeedThing.png" class="paneplant">');            
        });    
    
    //}

}


function unsub(sid) {
	if (confirm("Sure?")) {

		$("#unsub").html('<div id="loader"><img src="/static/images/loader.gif" alt="Working" width="32" height="32"></div>');
		$.post("/subscription/" + sid +"/unsubscribe/",function(data){
		
			$("#loader").fadeOut(function(){
				$("#loader").html(data);
				$("#loader").fadeIn();
			});
		
		},'html');
	}
	
}

function savePost(pid) {
    $.post("/post/" + pid + "/save/",function(data) {
        if (data=="OK") {
            $("#star-" + pid).removeClass("fa-star-o").addClass("fa-star");
        }
    });
}




</script>



{% endblock %}


