{% load ft_tags %}

<div id="feedcontent">
    <div id="feedscroller">
        
        {% if subscription %}
            {% if source %}


                <div id="unsub" class="pull-right btn-group" style="padding-top:10px">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog" title="Settings"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:rename({{subscription.id}})">Rename</a></li>
                    <li><a href="/manage/?s={{subscription.id}}">Manage</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:unsub({{subscription.id}})">Unsubscribe</a></li>
                  </ul>
                </div>
                <h2 class="ftheader">{{subscription.name}}</h2>
                <div class="meta">{% if source.last_success %}Last read {{source.last_success|timesince}} ago.{% else %}Feed has not been read.{% endif %} {% if user.is_superuser and source.is_cloudflare %}😬{% endif %}</div>

            {% endif %}
        {% endif %}
        
        {% include "paginator.html"%}

        <br style="clear:both">
        <div class="posts">
        {% for p in posts %}
            <hr style="clear:both;">

            <div class="buttons">
                <a href="{{p.link|escape}}"><i class="fa fa-external-link" aria-hidden="true" title="Go to item"></i></a>&nbsp;
                <a href="javascript:savePost({{p.id}})"><i id="star-{{p.id}}" class="{{p|starstyle:user}} fa-star" aria-hidden="true"></i></a>
            </div>

            {% if not source %}
            <h2 class="riversource">{{p|subscription_name:subscription_map }}</h2>
            {% endif %}
            <h3 class="posttitle"><a href="{{p.link|escape}}">{{p.title|safe}}</a></h3>


            <div class="date">{{p.created }} - {{p.created|timesince}} ago.</div>

            <div class="postbody">
                {{p.body|safe}}
            </div>

            <div class="enclosures">
                {% for e in p.enclosures.all %}
            
                    {% if "audio/" in e.type %}
                        <audio controls src="{{e.href}}" preload="metadata"></audio>
                    {% elif "video/" in e.type %}
                        <video controls src="{{e.href}}" preload="metadata"></video>
                    {% elif  "image/" in e.type and e.href not in p.body %}
                        <img src="{{e.href}}" alt="Enclosure">
                    {% endif %}
                
                {% endfor %}
                
                {% if p.image_url %}
                    <img src="{{p.image_url}}" alt="Enclosure">
                {% endif %}
                
            </div>

        {% endfor %}		

        </div>
        <div class="clearfix">
        
        {% include "paginator.html"%}
        
        </div>
    </div>
</div>



