{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row topmargin">
        <div class="col-xs-12 ftcontent">
            <h2>Forgot Password</h2>
        
            <div class="error">{{msg}}</div>   
        
            <form method="POST">
                {% csrf_token %}
                <label for="email">Email:</label><br>
                <input type="text" name="email" id="email" value="{{email}}">
                <input type="submit" value="Reset" class="btn btn-sm btn-default">
            </form>
        </div>
    </div>
</div>

{% endblock %}  