{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 ftcontent">
      <h2>Help</h2>






      <p>FeedThing is a personal, web-based feed reader.<p/>




      <h2>About</h2>

      <p>
        FeedThing is written by Gareth Simpson.  You
        can keep up to date with it's development in a couple of ways.
        <ul>
          <li><a href="https://xurble.org">Gareth's blog</a> (<a href="https://xurble.org/media/www.xurble.org/rss.xml">feed</a>)</li>
          <li><a href="https://mastodon.social/@xurble">Follow Gareth on Mastodon</a> (<a href="https://mastodon.social/@xurble.rss">feed</a>)</li>
          <li><a href="https://github.com/xurble/FeedThing/releases">Github Releases</a> (<a href="https://github.com/xurble/FeedThing/releases.atom">feed</a>)</li>
        </ul>
      </p>
      <p>
        FeedThing is open source and written in Python/Django.
      </p>
      <p>
        If you want to run your own personal instance or contribute to a fix or feature
        <a href="https://github.com/xurble/FeedThing">check it out on Github</a>.
      </p>

    </div>
  </div>
</div>
{% endblock %}
