{% extends "base.html" %}
{% load ft_tags %}


{% block content %}

    <div class="ftcontent">
    	<h2>Import complete</h2>
    	
    	{{ count }} feeds added.
    	
    	<table>
		{% for s in imported %}
			{% with site_url=s.site_url|safe_navigation_url feed_url=s.feed_url|safe_navigation_url %}
			<tr>
				<td>{% if site_url %}<a href="{{ site_url }}">{% endif %}{{s.name|escape}}{% if site_url %}</a>{% endif %}</td>
				<td>{% if feed_url %}<a href="{{ feed_url }}">{% endif %}{{s.feed_url|escape}}{% if feed_url %}</a>{% endif %}</td>
			</tr>
			{% endwith %}
		{% endfor %}
    	</table>
	</div>
	

{% endblock %}
