{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 ftcontent">
            <img src="/static/images/FeedThing.png" style="float:right;margin:20px;" alt="FeedThing Logo">
            <h2>Consume the Web</h2>
            <p>
              FeedThing is a web-based RSS feed reader.
            </p>

            <p>
              It is designed to make it as simple as possible to keep up with your feeds without ever becoming
              overwhelmed.  You can read about the ways it does this in the <a href="/help/">help page</a>.
            </p>

            <p>
              Sign-Ups are currently open if you want to <a href="/accounts/signup/">create an account</a>.
            </p>
            <p>&nbsp;</p>
            <p><a href="/feeds/" class="btn btn-sm btn-default">Sign In</a></p>
        </div>
    </div>
</div>
{% endblock %}
