{% extends "base.html" %}

{% block head %}

    <meta property="og:site_name" content="FeedThing"/>
    <meta property="og:title" content="A non-nonsense RSS aggregator - FeedThing"/>
    <meta property="og:url" content="https://feedthing.net"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="FeedThing is a web-based feed reader with an emphasis on simplicity and preventing information overload."/>
    <meta property="og:image" content="https://feedthing.net/static/images/FeedThing.png"/>
    <meta itemprop="name" content="A non-nonsense RSS aggregator - FeedThing"/>
    <meta itemprop="url" content="https://feedthing.net/"/>
    <meta itemprop="description" content="Recast is a simple service that will replay all the episodes of a podcast from the start."/>
    <meta itemprop="thumbnailUrl" content="https://feedthing.net/static/images/FeedThing.png"/>
    <link rel="image_src" href="https://feedthing.net/static/images/FeedThing.png"/>
    <meta itemprop="image" content="https://feedthing.net/static/images/FeedThing.png"/>
    <meta name="twitter:title" content="A non-nonsense RSS aggregator - FeedThing"/>
    <meta name="twitter:image" content="https://feedthing.net/static/images/FeedThing.png"/>
    <meta name="twitter:url" content="https://feedthing.net/"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="FeedThing is a web-based feed reader with an emphasis on simplicity and preventing information overload."/>
    <meta name="description" content="FeedThing is a web-based feed reader with an emphasis on simplicity and preventing information overload."/>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 ftcontent">
            <img src="/static/images/FeedThing.png" style="float:right;margin:20px;" alt="FeedThing Logo">
            <h2>Consume the Web</h2>
            <p>
              FeedThing is a web-based RSS feed reader.
            </p>

            <p>
              It is designed to make it as simple as possible to keep up with your feeds without ever becoming
              overwhelmed.  You can read about the ways it does this in the <a href="/help/">help page</a>.
            </p>

            <p>
              Sign-Ups are currently open if you want to <a href="/accounts/signup/">create an account</a>.
            </p>
            <p>&nbsp;</p>
            <p><a href="/feeds/" class="btn btn-sm btn-default">Sign In</a></p>
        </div>
    </div>
</div>
{% endblock %}
