{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row topmargin">
        <div class="col-xs-12 ftcontent">
            <h2>Login</h2>
        
            <div class="error">{{msg}}</div>   
        
            <form method="POST">
                {% csrf_token %}
                <label for="username">Email:</label><br>
                <input type="text" name="username" id="username" value="{{username}}">
                <br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" id="password">
                <br>
                <br>
                <input type="submit" value="Log In" class="btn btn-sm btn-default">
            </form>
        </div>
    </div>
</div>

{% endblock %}  