{% load ft_tags %}

<div id="feedcontent">
    <div id="feedscroller">
        <a class="btn btn-sm btn-default backbutton pull-right" href="javascript:history.back()">Back</a>

        {% if subscription %}
        <h2 class="ftheader">{{subscription.name}}</h2>
        {% endif %}
        <div>{% if user.is_superuser and subscription.source.is_cloudflare %}😬{% endif %}</div>

        {% include "paginator.html" %}

        <div class="posts">
        {% for p in posts %}
            {% with post_url=p.link|safe_navigation_url %}

            <br>
            {% ifchanged p.subscription.name %}
            <hr class="river">
            <h2 class="riversource">{{p.subscription.name}}</h2>
            {% endifchanged %}
            <div class="buttons">
                {% if post_url %}<a href="{{ post_url }}"><i class="fa fa-external-link" aria-hidden="true" title="Go to item"></i></a>&nbsp;{% endif %}
                <a href="javascript:savePost({{p.id}})"><i id="star-{{p.id}}" class="{{p|starstyle:user}} fa-star" aria-hidden="true"></i></a>
            </div>
            <h3 class="posttitle">{% if post_url %}<a href="{{ post_url }}">{% endif %}{{p.title|safe_title}}{% if post_url %}</a>{% endif %}</h3>

            <div class="date">
              {% if post_url %}<a class="post-link" href="{{ post_url }}">{% endif %}
                Published {{p.created }} - {{p.created|timesince}} ago{% if p.author %}
                  by {{ p.author }}{% endif %}.
              {% if post_url %}</a>{% endif %}
            </div>

            <div class="riverbody">
                {{p.body|river}}
            </div>
            {% endwith %}

        {% endfor %}

        </div>
        <div class="clearfix">

        {% if posts.has_next %}
            <br>
            <a href="javascript:read({{subscription.id}},{{ posts.next_page_number }})">Read More</a>
            <br><br><br>
        {% endif %}

        </div>
    </div>
</div>


