{% extends "base.html" %}
{% load ft_tags %}

{% block content %}
<div class="container">
    <div class="row topmargin">
        <div class="col-xs-12 ftcontent posts">
            <h2>Saved Posts</h2>

{% if posts.has_other_pages %}        
    <form method="GET">

    <ul class="pagination pagination-sm float-end" style="margin:0">
        {% if posts.has_previous %}
          <li><a href="?q={{q}}&page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% if posts.number >= 5 %}
        <li><a href="?q={{q}}&page=1)">1</a></li>
        <li><span>...</span></li>
        {% elif posts.number == 4 %}
        <li><a href="?q={{q}}&page=1)">1</a></li>
        {% endif %}
        {% if posts.number|add:"-2" >= 1  %}
        <li><a href="?q={{q}}&page={{ posts.number|add:"-2" }}">{{ posts.number|add:"-2" }}</a></li>
        {% endif %}
        {% if posts.number|add:"-1" >= 1  %}
        <li><a href="?q={{q}}&page={{ posts.number|add:"-1" }}">{{ posts.number|add:"-1" }}</a></li>
        {% endif %}
        <li class="active"><a href="?q={{q}}&page={{posts.number }}">{{ posts.number }}</a></li>
        {% if posts.number|add:"1" <= paginator.num_pages  %}
        <li><a href="?q={{q}}&page={{ posts.number|add:"1" }}">{{ posts.number|add:"1" }}</a></li>
        {% endif %}
        {% if posts.number|add:"2" <= paginator.num_pages %}
        <li><a href="?q={{q}}&page={{ posts.number|add:"2" }}">{{ posts.number|add:"2" }}</a></li>
        {% endif %}
        {% if posts.number|add:"2" <= paginator.num_pages|add:"-2" %}
        <li><span>...</span></li>
        <li><a href="?q={{q}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
        {% elif posts.number|add:"1" <= paginator.num_pages|add:"-2" %}
        <li><a href="?q={{q}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
        {% endif %}
        {% if posts.has_next %}
          <li><a href="?q={{q}}&page={{ posts.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>

        <input type="search" name="q" value="{{q}}" placeholder="Search">
    </form>
            
{% endif %}

            {% for p in posts %}

                <div>
                    <br style="clear:both">
                    <hr class="river">
                    <h2 class="riversource">{{p.subscription.name}}</h2>
                    <div class="buttons">
                        <a href="{{p.post.link|escape}}"><i class="fa fa-external-link" aria-hidden="true" title="Go to item"></i></a>&nbsp;
                        <a href="javascript:savePost({{p.post.id}})"><i id="star-{{p.post.id}}" class="fas fa-star" aria-hidden="true"></i></a>
                    </div>
                    <h3 class="posttitle"><a href="{{p.post.link|escape}}">{{p.post.title|safe}}</a></h3>


                    <div class="date"><a href="{{p.post.link|escape}}">{{p.post.created }} - {{p.post.created|timesince}} ago.</a></div>

                    <div class="postbody">
                        {{p.post.body|safe}}
                    </div>
                </div>

            {% endfor %}		

            <div class="clearfix"></div>


{% if posts.has_other_pages %}
    <ul class="pagination pagination-sm float-end">
        {% if posts.has_previous %}
          <li><a href="?q={{q}}&page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% if posts.number >= 5 %}
        <li><a href="?q={{q}}&page=1)">1</a></li>
        <li><span>...</span></li>
        {% elif posts.number == 4 %}
        <li><a href="?q={{q}}&page=1)">1</a></li>
        {% endif %}
        {% if posts.number|add:"-2" >= 1  %}
        <li><a href="?q={{q}}&page={{ posts.number|add:"-2" }}">{{ posts.number|add:"-2" }}</a></li>
        {% endif %}
        {% if posts.number|add:"-1" >= 1  %}
        <li><a href="?q={{q}}&page={{ posts.number|add:"-1" }}">{{ posts.number|add:"-1" }}</a></li>
        {% endif %}
        <li class="active"><a href="?q={{q}}&page={{posts.number }}">{{ posts.number }}</a></li>
        {% if posts.number|add:"1" <= paginator.num_pages  %}
        <li><a href="?q={{q}}&page={{ posts.number|add:"1" }}">{{ posts.number|add:"1" }}</a></li>
        {% endif %}
        {% if posts.number|add:"2" <= paginator.num_pages %}
        <li><a href="?q={{q}}&page={{ posts.number|add:"2" }}">{{ posts.number|add:"2" }}</a></li>
        {% endif %}
        {% if posts.number|add:"2" <= paginator.num_pages|add:"-2" %}
        <li><span>...</span></li>
        <li><a href="?q={{q}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
        {% elif posts.number|add:"1" <= paginator.num_pages|add:"-2" %}
        <li><a href="?q={{q}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
        {% endif %}
        {% if posts.has_next %}
          <li><a href="?q={{q}}&page={{ posts.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    
    <br style="clear:both">
{% endif %}
        
        </div>
    </div>
</div>

{% csrf_token %}

<script>

function savePost(pid) {

    if ($("#star-" + pid).hasClass("far")) {
        $.post("/post/" + pid + "/save/",function(data) {
            if (data=="OK") {
                $("#star-" + pid).removeClass("far").addClass("fas");
            }
        });
    } else {
        $.post("/post/" + pid + "/forget/",function(data) {
            if (data=="OK") {
                $("#star-" + pid).removeClass("fas").addClass("far");
            }
        });
    }
}

</script>

{% endblock %}  