
@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-bold.eot');
    src: url('../fonts/junction-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-bold.woff') format('woff'),
         url('../fonts/junction-bold.ttf') format('truetype'),
         url('../fonts/junction-bold.svg#junctionbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-light.eot');
    src: url('../fonts/junction-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-light.woff') format('woff'),
         url('../fonts/junction-light.ttf') format('truetype'),
         url('../fonts/junction-light.svg#junctionlight') format('svg');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-regular.eot');
    src: url('../fonts/junction-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-regular.woff') format('woff'),
         url('../fonts/junction-regular.ttf') format('truetype'),
         url('../fonts/junction-regular.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    padding-top: 50px;
    font-family: Helvetica;
}

.navbar {
    background-color: #DCE8C4;
}

.logo {
    padding-top:10px;
}

.logo img {
    margin-right: 6px;
}

.topmargin {
    padding-top:10px;
}

a.logo {
	font-family: Junction, Futura, Helvetica, Arial , sans-serif;
	text-decoration: none;	/* this must be within this class to work */
	color:#999 !important;
    font-size:22px; 
    font-weight: normal;
}

h1, h2, h3, h4, h5 , h6 {
	font-family: Junction, Futura, Helvetica, Arial , sans-serif;
	text-decoration: none;	/* this must be within this class to work */
	margin:3px 0px 3px 0px;
	font-weight:normal;
}

h2.ftheader, .ftcontent h2, h2.riversource {
	color:#999 !important;
	font-weight: normal !important;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 15px;
	padding: 8px 8px 2px 0px;
	margin: 2px 2px 2px 0px;
	color:#999;
	text-decoration: none;	
}

h2.riversource {
    padding-top:0px;
	font-size: 10px;
}

.btn-default {
    background-color:#dedede;
}

.btn-default:hover {
    background-color:#DCE8C4 !important;
}


div.feedbutton, .button {
    text-decoration:none;
    border:1px solid #ccc;
    margin-bottom:2px;
    color:black;
    font-weight: normal;
    background-color: #dedede;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 1.0;
    border-radius:2px;
}


div.feedbutton a {
    color:black;
}

a.feedbutton {
    padding:8px;
    display:block;
}

img.paneplant {
    display: block;
    opacity: 0.1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

a.backbutton {
    display:none;
}

.postbody img, .enclosures img {
    max-width: 100%;
    display: block;
    margin: 5px 0px 5px 0px;
}

.enclosures video, .enclosures audio  {
    width: 100%;
    display: block;
    margin: 10px 0px 5px 0px;
}

.riverbody, .postbody {
    font-size:14px;
}

body, html {
    height:100%;
}

.fullpage {
    height: 100%;
}


#feedlist, #feedpane {
    max-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 767px) {

    html, body, .fullpage {
        height:auto;
    }
    
    div.logo {
        margin-left:15px
    }

    a.backbutton {
        margin-bottom: 3px !important;
        margin-top: 6px;
        display: inline-block;
        right: 3px;
    }


    .posts img {
        max-width: calc(100% +  30px);
        
        -left: -15px;
        margin-right: -15px;
    }
    

}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.feed-list-header {
    margin-bottom:2px;
    display:flex;
}

.feed-list-header input {
     flex-grow: 1;
     margin-left:4px;
     min-width:0;
}

.posts {
    line-height: 1.3;
    font-family: Helvetica, Arial;
    font-size: 16px;
}

h3.posttitle {
    margin:0px;
    font-size:15px;
}

h3.rivertitle {
    margin:0px;
    font-size:13px;
}

div.read,div.read:hover {
    background-color: #7EA02D !important;
}



a img {
	border:none;	
}


.clearfix {
    clear:both;
}

a, a:hover {
	color: #7EA02D;
	text-decoration: none;
}

.date, .date a {
	font-size:11px;
	color:#666;
	padding: 2px 0px 6px 0px;
}
.date a:hover {
    text-decoration: underline;
}

.unreadcount {
    float:right;
    font-weight:normal;
    font-size:80%;
}

.buttons {
	float: right;
    font-size:22px;
    margin: 0px 0px 5px 5px;
    padding:5px;
    //border: 1px dotted #ccc;
}

#opml {
    background-color: #DCE8C4;
    padding : 0px 5px 10px 5px;
}

input[type=url] {
    width:99%;
}

h1 {
    font-size:18px
}

h2 {
    font-size: 17px;
}

h3 {
    font-size:16px;
}

h4,h5,h6 {
    font-size:15px;
}

blockquote {
    font-size:14px;
}

div#feeds div.group {
   background-color: #999;
}


#gardentable, #gardentable td,#gardentable th {
	border:1px solid #CCC;
	border-collapse: collapse;
	padding:2px;
}

.healthbox {
    margin-right:3px;
    height:12px;
    width:12px;
    border: 1px solid #999;
}

.error {
    color:red;
    font-weight: bold;
    padding:15px;
}

label {
    font-weight: bold;
    padding-top: 5px;
}

input[type=text],input[type=password],input[type=url] {
    padding:4px;
    border: 1px solid #ccc;
    padding-bottom: 8px;
    border-radius: 3px;
    font-size: 16px;
}


hr {
    border: none;
    border-top:1px solid #ccc;
}

hr.river {
    padding:0;
    margin:0 0 8px;
}

div.feedbutton:hover , .button:hover {
    background-color:#DCE8C4 !important;
}

div.feedbutton a:hover {
    text-decoration: underline;
}

div.droptarget {
    background-color:green !important;
    color:white !important;
}

div.location {
    color:#666;
    font-style: italic;
}




.pagination > li > a,
.pagination > li > span {
  color: #7EA02D;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #7EA02D;
  background-color: #eee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #7EA02D;
  border-color: #7EA02D;
}
