
@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-bold.eot');
    src: url('../fonts/junction-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-bold.woff') format('woff'),
         url('../fonts/junction-bold.ttf') format('truetype'),
         url('../fonts/junction-bold.svg#junctionbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-light.eot');
    src: url('../fonts/junction-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-light.woff') format('woff'),
         url('../fonts/junction-light.ttf') format('truetype'),
         url('../fonts/junction-light.svg#junctionlight') format('svg');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-regular.eot');
    src: url('../fonts/junction-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-regular.woff') format('woff'),
         url('../fonts/junction-regular.ttf') format('truetype'),
         url('../fonts/junction-regular.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	margin:0px;
	padding:0px;
}

body {
	font-family:Helvetica,Arial;
	font-size:13px;
	margin:0px;
} 

#header {
	margin:0px;
    position:fixed;
    top:0px;
    background-color:#DCE8C4;
    width:100%;
    padding-top:3px;
    height: 36px;
    opacity: 0.85;
}

.clearfix {
    clear:both;
}

h1,h2,h2,h4 {
    margin:3px;
}

h1#ftlogo {
	margin: 0px;
    float:left;
    padding-top:0px;
    margin-left:3px;
}

h1#ftlogo a {
    
	font-family: Junction, Helvetica, Arial , sans-serif;
    letter-spacing: 1pt;
    font-weight: normal;
    color:#666;

}

a {
	color: #7EA02D;
	text-decoration: none;
}

#content {
	padding-top: 40px;
}

@viewport{
    zoom: 1.0;
    width: device-width;
}

@media only screen and (max-width: 667px)
{
  /* phone */
    ul.navigation {
        display:none;
    }

    a.backbutton {
        position: fixed;
        margin-bottom: 3px !important;
        top: 3px;
        display: none;
        right: 3px;
    }

    #opml {
        display: none;
    }
    
    #footer {
        display: none;
    }
    
    input[type=url] {
        width:99%;
    }
    
    body { min-height: 480px; }

    #feedpane {
        overflow-x:hidden;
    }
    
    .postbody img {
        max-width: 300px;
        display: block;
    }
    
    #content {
    	padding-left:5px;
    	padding-right: 5px;
    }

	#xfeedlist {
        position:fixed;
        overflow-y: scroll;
        width:100%;
	}

}


@media only screen and (min-width: 668px)
{
  /* desktop / tablet */

    ul.navigation {
    	display: inline-block;
    	padding:0px;
    	margin: 0px;
    	margin-top: 6px;
    	float:right;
    }
    ul.navigation li {
    	display: inline-block;
    	margin-right:10px;
    }

    ul.navigation li a {
    	color: #666;
    }
    ul.navigation li a:hover {
    	color: #7EA02D;
    }

  
    .center {
    	margin-left:auto;
    	margin-right:auto;
    	width: 960px;
    	padding-left:5px;
    	padding-right:5px;
    }

    a.backbutton {
        display: none !important;
    }

    #feedlist {
        float:left;
        width:340px;
        padding-bottom:20px;
        overflow-y: scroll;
        padding-right:10px;
        overflow-x: hidden;
        position:fixed;
    }

    #feedpane {
        overflow-x:hidden;
    	float: left;
    	width: 595px;
    	padding-left:15px;
    	margin-left:360px;
    }

    #opml {
    	float:right;
    	background-color: #DCE8C4;
    	margin:10px;
    	width:200px;
    }


    #footer{
    	clear: both;
    	margin-top:50px;
    	padding:20px;
    	text-align:right;
    	font-size:10px;
    	border-top: 1px solid #CCC;
    
    }
    
    input[type=url] {
        width:500px;
    }
    .postbody img {
        max-width: 590px;
        display: block;
    }


  
}

h3 {
    font-size: 21px;
}


#feedpane,#feedlist {
    padding-bottom:24px;
}


img.paneplant {
    display: block;
    opacity: 0.1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}



div.feedbutton, .button {
    text-decoration:none;
    border:1px solid #ccc;
    margin-bottom:2px;
    color:black;
    font-weight: normal;
    background-color: #dedede;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 1.0;
}

/* TODO:
div.ui-draggable {
    cursor: xxxx;
}
*/

div.feedbutton a {
    color:black;
}

div#feeds div.group {
   background-color: #999;
}

.button {
    display: inline-block;
    border-radius: 3px;
    padding:8px;
    padding-bottom:7px;
    font-size:13px;
}


a.feedbutton {
    padding:8px;
    display:block;
}


.error {
    color:red;
    font-weight: bold;
    padding:15px;
}

label {
    font-weight: bold;
    padding-top: 5px;
}

input[type=text],input[type=password],input[type=url] {
    padding:4px;
    border: 1px solid #ccc;
    padding-bottom: 8px;
    border-radius: 3px;
    font-size: 16px;
}

hr {
    border: none;
    border-top:1px solid #ccc;
}

div.feedbutton:hover , .button:hover {
    background-color:#DCE8C4 !important;
}

div.feedbutton a:hover {
    text-decoration: underline;
}


div.droptarget {
    background-color:green !important;
    color:white !important;
}

.unreadcount {
    float:right;
    font-weight:normal;
    font-size:80%;
}

.ftcontent h2, h2.ftheader, .feedname {
	font-family: Junction, Helvetica, Arial , sans-serif;
	font-size: 11pt;
	/*font-weight: bold;*/
	padding: 8px 8px 2px 0px;
	margin: 2px 2px 2px 0px;
	color:#999;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 5pt;
	text-decoration: none;	/* this must be within this class to work */
}

h2.ftheader {
    text-align: center;
}


#opml h3 {
	background-color: #7EA02D;
	color: white;
	padding:3px;
	text-align: center;
	margin: 0px;
	letter-spacing: 1pt;
}

#opml p, #opml form {
	padding:5px;
}

#unsub {
	float:right;
}

.meta {
    float:left;
}

#gardentable, #gardentable td,#gardentable th {
	border:1px solid #CCC;
	border-collapse: collapse;
}

.posts h3.posttitle {
    font-family: Junction, Helvetica,Arial;
}

.posts {
    line-height: 1.4;
    font-family: Helvetica, Arial;
    font-size: 16px;
}


a img {
	border:none;	
}

img {
    margin:3px;
}

img#littlelogo {
    margin-left: auto;
    margin-right: auto;
	display:block;
    max-width:75px;
    padding-top: 15px;
}


 ul#addfeedlist li {
    padding-bottom: 6px;
 }

.date {
	font-size:11px;
	text-align: right;
	color:#444;
	padding:2px;
}

.buttons {
	float: right;
}

div.read,div.read:hover {
    background-color: #7EA02D !important;
}

div.location {
    color:#666;
    font-style: italic;
    margin-bottom: 12px;
}

.healthbox {
    margin-right:3px;
    height:12px;
    width:12px;
    border: 1px solid #999;
}
