{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}


<div class="container">
    <div class="row topmargin">
        <div class="col-xs-12 ftcontent">



                <h2>Password change</h2>
                
                <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                
                <form method="POST">
                    <table class="auth-table">
                      {% csrf_token %}
                      {{ form }}
                    </table>
                    <br>
                  <input type="submit" class="btn btn-default? value="Change my password">
                </form>





        </div>
    </div>
</div>


{% endblock %}