{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}


<div class="container">
    <div class="row topmargin">
        <div class="col-xs-12 ftcontent">


            {% if validlink %}

                <h2>Set a new password!</h2>
                <form method="POST">
                    <table class="auth-table">
                      {% csrf_token %}
                      {{ form }}
                    </table>
                    <br>
                  <input type="submit" class="btn btn-default? value="Change my password">
                </form>

            {% else %}

                <div class="alert alert-danger">
                    The password reset link was invalid, possibly because it has already been used.  Please <a class="alert-link" href="{% url 'password_reset' %}">request a new password reset</a>.
                </div>

            {% endif %}



        </div>
    </div>
</div>


{% endblock %}