{% extends "base.html" %}

{% block content %}

<div id="opml">
	<form method="post" action="/importopml/" enctype="multipart/form-data">
		<input type="file" name="opml">
		<input type="submit" value="Upload Subscriptions">
	</form>
</div>

<div id="feeds">
	<form method="post" onsubmit="addFeed(0); return false;">
		<input type="url" id="feed-0" name="feed" value="{{feed|escape}}">
		<input type="submit" value="Add Feed">
	</form>
</div>

<div id="addresult" style="display:none">
	
</div>


<script>

function addFeed(fid)
{
	var theFeed = $("#feed-" + fid).val();
	if (theFeed == '')
	{
		return;
	}
	
	$("#addresult").html("Imagine this was a spinner :)").fadeIn();
	
	$.post("/addfeed/", { feed:theFeed }, function(data){
	
		$("#addresult").fadeOut(function(){
			$("#addresult").html(data).fadeIn();
		});
	
	},'html');
	
}

</script>


{% endblock %}