<!doctype html>
<html>
	<head>
		<title>FeedThing</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">		
 		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<link href="/static/feedthing.css" rel="stylesheet"	type="text/css">
		<link rel="shortcut icon" href="/static/feedthingsmall.png">
	</head>
	<body>
		<div id="header">
			<h1><a href="/"><img src="/static/FeedThing.gif" alt="FeedThing"></a></h1>
		</div>
		<div id="subheader">
			<ul>

		<li><a href="/">Home</a></li>
		{% if user %}
			<li>{{ user.nickname|escape }}</li> 
		{% endif %}
		{% if user %}
			<li><a href="/feeds/">Feeds</a></li>
			<a href="/addfeed/">Add Feed</a>	|
		{% endif %}
		<a href="/help/">Help</a> |
		{% if user %}
			<a href="{{ logout }}">Log out</a>
		{% else %}
			<a href="/feeds/">Log In</a>
		{% endif %}
			</ul>
		</div>
		<div id="content">
{% block content %}

{% endblock %}
		</div>	
		<div id="footer">
			Because nobody really likes Google Reader :)
		</div>
		<script>
		
function sizeDivs()
{
	var h = $(window).height();
	h-=200;
	$("#feedlist").height(h);
	$("#feedpane").height(h);
}

$(window).resize(function(){
	sizeDivs();
});


$(document).ready(function(){
	sizeDivs();
});
	
		</script>
	</body>
</html>