<!doctype html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">		
 		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<link href="/static/feedthing.css" rel="stylesheet"	type="text/css">
	</head>
	<body>
		<div id="frameheader">
		</div>
		<div id="subheader">&nbsp;</div>
		<div id="framecontent">
			<div id="unsub"><a href="javascript:unsub()">Unsubscribe</a></div>
			<h2><a href="{{source.siteURL|escape}}">{{source.name|escape}}</a></h2>

			{% for p in posts %}
				<hr style="clear:both;">
				<h3><a href="{{p.link}}">{{p.title}}</a></h3>
				<div class="date">{{p.created|timesince}} ago</div>
				<div class="postbody">
					{{p.body}}
				</div>

			{% endfor %}		
		</div>
		
		<script>

function unsub()
{
	if (confirm("Sure?"))
	{
		$("#unsub").html('<div id="loader"><img src="/static/loader.gif" alt="Working"></div>');
		$.post("/feed/{{source.id}}/unsubscribe/",function(data){
		
			$("#loader").fadeOut(function(){
				$("#loader").html(data);
				$("#loader").fadeIn();
			});
		
		},'html');
	}
	
}
		
		
		</script>
		
	</body>
</html>







