<!doctype html>
<html>
	<head>
		<title>FeedThing</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">		
 		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<link href="/static/feedthing.css" rel="stylesheet"	type="text/css">
	</head>
	<body>
		<div id="frameheader">
			<h1><a href="/" target="_top"><img src="/static/FeedThing.gif" alt="FeedThing"></a></h1>
		</div>
		<div id="subheader">&nbsp;</div>

		<div id="feedlist">
			<ul>
				{% for s in sources %}
					<li id="s{{s.id}}" class="unread">
						<a onclick="read({{s.id}})" href="/read/{{s.id}}/html/all/" target="feedpane">{{s.name}}</a> <span id="uc{{s.id}}" class="unreadcount">({{s.unreadCount}})</span>
					</li>
				{% endfor %}
			</ul>
		</div>


<script>

function read(fid){
	$("#s" + fid).removeClass("unread").addClass("read");
	$("#uc" + fid).fadeOut();
}

</script>


	</body>
</html>
