<!doctype html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">		
 		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<link href="/static/feedthing.css" rel="stylesheet"	type="text/css">
	</head>
	<body>
		<div id="frameheader">
		</div>
		<div id="subheader">&nbsp;</div>
		<div id="framecontent">
			<p>This is where the feeds are at</p>
		</div>
	</body>
</html>




