{% extends "base.html" %}

{% block content %}

		<div id="feedlist">
		    <h2 class="ftheader">Feeds</h2>
			<div id="feeds">
			
			    {% if all %}
					<div class="feedbutton">
						<a href="/feeds/" class="feedbutton">Unread Feeds</a> 
					</div>
				{% else %}
					<div class="feedbutton">
						<a href="/allfeeds/" class="feedbutton">All Feeds</a> 
					</div>
                {% endif %}

				{% for s in sources %}
					<div id="s{{s.id}}" class="feedbutton{% if not s.source %} group{% endif %}"> 
						<a id="sa{{s.id}}" onclick="read({{s.id}})" href="#" class="feedbutton">{{s.name}}<span id="uc{{s.id}}" class="unreadcount">{% if s.isRiver %}R{% else %}({{s.unreadCount}}){% endif %}</span></a> 
					</div>
				{% endfor %}
			</div>
		</div>
            		
        <div id="feedpane">
            <img src="/static/images/FeedThing.png" class="paneplant">
        </div>
            		
        {% csrf_token %}

<script>

var PHONE_WIDTH = 600;

var lastRead = null;

function read(fid){


    if (lastRead == fid) {
        return;
    }

    {% if all %}
        $("#uc" + fid).html("(0)");
        if (lastRead != null) {
            $("#sa" + lastRead).removeClass("read");    
        }
    {% else %}
        if (lastRead != null) {
            $("#s" + lastRead).fadeOut();    
        }
    {% endif %}

    lastRead = fid;
    
    $("#sa" + lastRead).addClass("read");  
    
    $("#feedpane").html('<img src="/static/images/FeedThing.png" class="paneplant">');

    var qty = "/all/";
    if (fid == "river") {
        qty = "/25/";
    }

    //console.log("replacestate");
    //history.replaceState({"feed":fid}, "FEED" , "/feeds/" + fid + qty);

	$.get("/read/" + fid + qty,function(data){
	   $("#feedpane").html(data);
	   $(".backbutton").fadeIn();
	   
	});


    if($(window).width() > PHONE_WIDTH) {
    
	    $(window).scrollTop(0);
	    positionFeedList();
    }
    else {
    	oldScrollTop = $(window).scrollTop();
        $("#feedlist").fadeOut(function(){
            $("#feedpane").show()        
        });




    }
    
    return false;
}

function unRead() {
    //window.history.back();
    //if(event.state) {
	   $(".backbutton").fadeOut();
	    window.scrollTo(0, 1);

        $("#feedpane").fadeOut(function(){
        
            $("#feedlist").fadeIn(function(){
                {% if not all %}
                    $("#s" + lastRead).fadeOut();
                {% endif %}
                
                $(window).scrollTop(oldScrollTop);
            });
            
        });    
    
    //}

}

window.onpopstate = function (event) {
    
    console.log(event.state);



}




function unsub(sid)
{
	if (confirm("Sure?"))
	{
		$("#unsub").html('<div id="loader"><img src="/static/images/loader.gif" alt="Working"></div>');
		$.post("/subscription/" + sid +"/unsubscribe/",function(data){
		
			$("#loader").fadeOut(function(){
				$("#loader").html(data);
				$("#loader").fadeIn();
			});
		
		},'html');
	}
	
}


function positionFeedList() {


    if($(window).width() > PHONE_WIDTH) {

        var wh = $(window).height();
        $("#feedlist").height(wh - 67);

    }

}


$(window).resize(function(){
    console.log("resize");

    if($(window).width() > PHONE_WIDTH) {
        $("#feedlist").show();
        $("#feedpane").show();
        positionFeedList();
    }
    else {
    }
}); 


$(document).ready(function(){
    if($(window).width() > PHONE_WIDTH) {
        positionFeedList();
    }
    else {
        $("#feedpane").hide();
    }

	  setTimeout(function(){
	    // Hide the address bar!
	    window.scrollTo(0, 1);
	  }, 0);




});

</script>



{% endblock %}


