{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 ftcontent">
            <h2>Help</h2>
    
            <p>How I wish that Bloglines and Google Reader didn't suck so much.</p>
    
            <h2>Bookmarklet</h2>
    

            <p><a href="javascript:document.location.href='http://ft.xurble.org/addfeed/?feed=' + encodeURIComponent(document.location.href);" class="btn btn-sm btn-primary">Subscribe with FeedThing</a></p>
        </div>
    </div>
</div>
{% endblock %}