{% load ft_tags %}

<div id="feedcontent">
    <div id="feedscroller">
        <a class="btn btn-sm btn-default backbutton pull-right" href="javascript:history.back()">Back</a>

        {% if subscription %}
        <h2 class="ftheader">{{subscription.name}}</h2>
        {% endif %}

        <div class="posts">
        {% for p in posts %}

            <br>
            {% ifchanged p.sub_name %}
            <hr class="river">
            <h2 class="riversource">{{p.sub_name}}</h2>
            {% endifchanged %}
            <div class="buttons">
                <a href="{{p.link|escape}}"><i class="fa fa-external-link" aria-hidden="true" title="Go to item"></i></a>&nbsp;
                <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            </div>
            <h3 class="posttitle"><a href="{{p.link|escape}}">{{p.title|safe}}</a></h3>


            <div class="date"><a href="{{p.link|escape}}">{{p.created }} - {{p.created|timesince}} ago.</a></div>

            <div class="riverbody">
                {{p.body|river}}
            </div>

        {% endfor %}		

        </div>
        <div class="clearfix"></div>
    </div>
</div>



